
/* --- Estilos do Timer --- */

.timer-container {
    /* Apenas centraliza o conteúdo */
    text-align: center;
}

.timer-badge {
    /* A "etiqueta" laranja */
    display: inline-block;
    background-color: #f39c12; /* Um tom de laranja/âmbar */
    color: #333; /* Texto escuro para contrastar */
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
}

#countdown-display {
    /* A caixa branca do relógio */
    display: inline-block; /* Faz a caixa ter o tamanho do conteúdo */
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 10px 0; /* Espaçamento entre as etiquetas */
    
    /* Estilo da fonte */
    font-size: 1.75rem; /* Tamanho grande */
    font-weight: bold;
    color: #333;
}

/* Deixa o número selecionado com o tom de azul da arte */
.bg-selecionado { 
    background-color: #007bff; /* Azul primário do Bootstrap */
    color: white; 
    border-color: #007bff; 
}


/* Deixa o botão de reservar azul também */
#btn-reservar {
    background-color: #007bff;
    border-color: #007bff;
}
/* Efeito hover do botão */
#btn-reservar:hover {
    background-color: #0056b3; /* Um azul mais escuro no hover */
    border-color: #0056b3;
}

/* Continue para whatsapp */
#btn-reservar-wpp {
    background-color: #31813c;
    border-color: #31813c;
}
#btn-reservar-wpp:hover {
    background-color: #00b32d; /* Um azul mais escuro no hover */
    border-color: #00b32d;
}

body {
    /* NOVO GRADIENTE: Azul vibrante para azul mais claro */
    background-image: linear-gradient(
        to bottom,  
        #0069d9, /* Um azul forte, similar ao da arte */
        #00A9FF  /* Um azul-céu mais vibrante */
    );
    min-height: 100vh;
    background-repeat: no-repeat;
    
    /* Mantém os paddings que corrigimos para o celular */
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estilos simples para os estados dos números */
.numero-card {
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid #ddd;
}

/* Deixa o hover do número livre com o mesmo azul */
.numero-card:hover {
    transform: scale(1.05);
    border-color: #007bff; /* Azul primário */
    border-width: 2px;
    cursor: pointer;
}
/*.numero-livre:hover { transform: scale(1.05); border-color: #28a745; }*/

/* Classes de estado */
.bg-livre { background-color: #f8f9fa; color: #333; }
/*.bg-selecionado { background-color: #28a745; color: white; border-color: #28a745; }*/
.bg-vendido { background-color: #dc3545; color: white; cursor: not-allowed; opacity: 0.6; }

/* Barra flutuante de checkout */
#checkout-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    display: none; /* Começa escondida */
    z-index: 1000;
}
